@font-face{
    font-family: 'Poppins', sans-serif;
    

    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

@import url("./line.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-padding: 0 12vw;
    --text: #1b1b1b;
    --primary: #356161;
    --p-light: #9DB6B5;
    --accent:#F28482;
    --tertiary: #F6BD60;
    --grey: #F5F5F5;
}




h1 {
    font-size: 4rem;
    line-height: 5.6rem;
}

h2 {
    font-size: 3rem;
    line-height: 4rem;
}

h3 {
    font-size: 2rem;
    line-height: 2.4rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .12rem;
    line-height: 2rem;
}

p {
    font-size: 1.25rem;
}


.light {
    font-weight: lighter;
}

.clr-primary {
    color: var(--primary);
    
}

.clr-p-light {
    color: var(--p-light);
}

.clr-accent {
    color: var(--accent);
}

.clr-tertiary {
    color: var(--tertiary);
}

.clr-white {
    color: white;
}

/* Background Colour variations */

.fill-primary {
    background-color: var(--primary);
}

.fill-p-light {
    background-color: var(--p-light);
}

.fill-accent {
    background-color: var(--accent);
}

.fill-tertiary {
    background-color: var(--tertiary);
}

.fill-grey {
    background-color: var(--grey);
}
/* Pill-shape tag */

.tag {
    border-radius: 24px;
    padding: 0 .72rem;
}

/* BUTTON SYSTEM */

button {
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    padding: 0 1rem;
    transition: 120ms;
}

button:hover {
    transform: scale(1.06);
}

/* Button modifiers */

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--p-light);
}

.btn-lg {
    height: 72px;
    padding: 0 1.5rem;
}

.btn-ln {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-ln:hover {
    background-color: var(--p-light);
    color: white;
    border-color: var(--p-light);
}

/* SHADOW ELEVATION */

:root {
    --ev-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    --ev-2: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
    --ev-3: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* NAVIGATION */

nav {
    
    min-height: 72px;
    height: 4vw;
    display: flex;
    align-items: center;
    padding: var(--main-padding);
    border-bottom: 2px solid var(--accent);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

nav h3 {
    font-size: 2vw;
}

nav a {
    text-decoration: none;
    color: var(--text);
}

nav>* {
    display: flex;

}

nav .brand {
    flex-grow: 3;
}

nav .links {
    flex-grow: 1;
    justify-content: center;
    list-style: none;
}

.link {
    flex-grow: 1;
    margin: 0 .8rem;
}

.link:hover>li>a {
    color: var(--accent);
}

.brand-small{
    display: none;
}

#burger-menu {
    display: none;
}

/* HOVER BOX */

.hover-box {
    padding: 1.5rem;
    /* min-height: 410px; */
    border-radius: 12px;
    box-shadow: var(--ev-1);
    transition: 300ms;
    margin: 0 0 5% 0;
}

.hover-box:hover {
    box-shadow: var(--ev-3);
    transform: scale(1.006);
}



/* BACK TO TOP */
.back-to-top {
    display: none;
    position: fixed;
    font-size: 3rem;
    color: var(--p-light);
    background-color: transparent;
    bottom: 100px;
    right: 50px;

}



 /* JUMBOTRON */
 .jumbotron {
    background: url("../images/SAASredesignthumbnail.jpg") no-repeat 50% 25%;
    background-size: cover;
    min-height: 30rem;  
 }

/* SECONDARY NAVIGATION */
 .nav-link:hover {
    color: var(--accent);
 }

 .nav-link:active {
     background-color: var(--primary);
     color: white;
 }

 .section-title {
     color: var(--p-light);
 }

/* CASE STUDY DETAILS */
.ln {
    border: var(--border);
}



 /* BACKGROUND INFO */
 .background-title {
     color: white;
     padding: 0 0 1.25rem 0;
 }

 .background p{
     color: white;
     font-size: 1rem;
 }

.sa-amb-thumbnail {
    background-size: cover;
    border-radius: .8rem;
    max-height: 829px;
    max-width:482px;
    
}



.nav-subheading {
    color: var(--p-light);
    padding: 5% 0;
}



/* PROBLEM POINTS */
    .problem li {
        font-size: 1.5rem;
        color:var(--text);
        list-style: none;
        padding: 1rem 0;
    }

    .cross {
        color:var(--accent);
        font-size: 3rem;
    }

    /* SOLUTION */
 
    .solution li {
        font-size: 1.5rem;
        color:var(--text);
        list-style: none;
        padding: 1rem 0;
    }

    .check {
        color: var(--p-light);
        font-size: 3rem;
    }


    /* RESEARCH */ *

    /* USABILITY TESTING */

    .usability-testing p{
        font-size: 1.25rem;
        line-height: 1.5;
    }
   
    /* USABILITY QUOTES */

    .usability-quote { 
       font-size: 2rem;
        text-align: center;
    }

/* WEBSITE HEURISTIC EVALUATION */




.website-thumbnail {
    background-size: contain;
    border-radius: .8rem;
    max-height: 829px;
    max-width:482px;
}

.heuristic-stats {
    font-size: 1.5rem;
    text-align: center; 
}

.color-hover-box {
    border-radius: .8rem;
    box-shadow: var(--ev-1);
    transition: 300ms;
    margin: 0 0 5% 0;
}

.color-hover-box:hover {
    box-shadow: var(--ev-3);
    transform: scale(1.006);
}


.bg-lightgreen {
    background-color: #02A94F;
    border-radius: .8rem .8rem 0 0;
    padding: 1.5rem;
}

.bg-green {
    background-color: #009253;
    border-radius: .8rem .8rem 0 0;
    padding: 1.5rem;
}

.bg-darkergreen {
    background-color: #01843D;
    border-radius: .8rem .8rem 0 0;
    padding: 1.5rem;
}



/* 03 - IDEATION */


/* WIREFRAMING */

.wireframe-title {
    color: white;
}

.wireframe-thumbnail {
    background-size: contain;
    border-radius: .8rem;
    max-height: 829px;
    max-width:482px;
}

/* STYLE GUIDE */

.light-logo {
    border-radius: .8rem;

}

    /* FOOTER */
  
   .link{
        list-style: none;
        
    }

  

    .footer-icons {
        color: white;
        font-size: 2rem;
        padding: 0 2rem 0 0;
        transition: 300ms;
    }

    .footer-icons:hover {
        color: var(--accent)
    }



    @media only screen and (min-width:768px) and (max-width: 1224px) {

        .links {
            display: none;
        }
    
        .brand {
            display: none;
        }
      
        .brand-small{
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
    
        #burger-menu {
            display: flex-end;
            float: right; */
            /* align-items: center; */
            justify-content: space-around; 
           
        }

        @media only screen and (max-width: 767px) and (min-device-width:320px) {
            .links {
                display: none;
            }
        
            .brand {
                display: none;
            }
          
            .brand-small{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
            #burger-menu {
                display: flex;
                align-items: center;
                justify-content: center; 
            } }
        }